<?xml version="1.0" encoding="utf-8" ?> 
<configuration> 
  <!– Register a section handler for the log4net section –> 
  <configSections> 
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" /> 
  </configSections> 
  <log4net> 
    <!– the rollingFile Appender, which could save log to File ,and according to the configuration, when the file reach 100kb, it will save the old file to the TestLog4Net.log.1, and the TestLog4Net.log.2 and that’s all–>

    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender"> 
      <file value="OracleLog4Helper.Log" /> 
      <appendToFile value="true" /> 
      <maximumFileSize value="10KB" /> 
      <maxSizeRollBackups value="2" /> 
      <layout type=" log4net.Layout.PatternLayout"> 
        <conversionPattern value="%level %date %logger – %message %t%n" /> 
      </layout> 
    </appender>

    <root> 
      <!–指定日志显示级别–> 
      <!–级别由高到底:OFF\FATAL\ERROR\WARN\INFO\DEBUG\ALL–> 
      <level value="INFO" /> 
      <appender-ref ref="RollingFile" /> 
    </root>

    <logger name="OracleHelper.Logging"> 
      <level value="ERROR"/> 
    </logger> 
     
  </log4net> 
</configuration>